body,
html,
#react-container {
    height: 100%;
}

body,
h1, h2, h3, h4, h5,
p, td, span, div {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

#react-container {
    padding: 1em;
    background-color: rgb(255, 255, 255);
}

article>header {
    font-size: 14px;
    border-bottom: solid 2px rgb(131, 131, 131);
    margin-bottom: 1em;
}

div.recipes>section {
    border: double 4px rgb(131, 131, 131);
    padding: 1em;
    background-color: rgb(224, 224, 224);
    margin-bottom: 1em;
}